amqp==5.2.0
annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
async-timeout==4.0.3
billiard==4.2.0
celery==5.3.6
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
distro==1.8.0
Django==4.2.7
exceptiongroup==1.2.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.1
idna==3.4
kombu==5.3.4
numpy==1.26.2
openai==1.3.5
pgvector==0.2.3
prompt-toolkit==3.0.41
psycopg2-binary==2.9.9
pydantic==2.5.2
pydantic_core==2.14.5
PyPDF2==3.0.1
python-dateutil==2.8.2
python-magic==0.4.27
redis==5.0.1
regex==2023.10.3
requests==2.31.0
scipy==1.11.4
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
tiktoken==0.5.1
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.12
